.header {
  background-color: #1d2433;
  background-image: url("https://www.transparenttextures.com/patterns/shattered.png");
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-avatar {
  max-width: 250px;
}

.header-avatar img {
  width: 100%;
}

.header-username {
  font-size: 1.8em;
}
