.new-tweet {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: .5em;
}

.new-tweet-title {
  margin: 1em 0;
}

.new-tweet-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: .5em;
}

.new-tweet-text {
  outline: none;
  resize: none;
  font-size: 1.15em;
  padding: 1em;
  margin-bottom: 1em;
  border-radius: 30px;
}

.new-tweet-submit {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Bungee', cursive;
}

.new-tweet-submit-button {
  color: #2e3e74;
  border-radius: 25px;
  background: #c9d3cb;
}

.old-tweets-by-users {
  padding-bottom: 0.5em;
  background: #2e3e74;
  border-radius: 30px;

}
.other-users-name {
  position: relative;
  left: 70px;
  top: 10px;

}
.days-since-posted {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: grey;
}

.bottom-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}


.name-handle-and-picture {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.name-and-handle {
  top: 7px;
  display: flex;
  flex-direction: row;

}

.twitter-handle {
  margin-top: 40px;
  margin-left: 920px;
  margin-bottom: 0;
  margin-right: 1em;
}

.tweet-error{
  background: rgb(65, 1, 65);
  flex-direction: row;
  border-radius: 70px;
  padding: 10px 10px;
  padding-bottom: 0px;
  padding-top: 0px;
  display: none;
}

.tweet-error-message-too-long {
  display: none;
}

.tweet-error-message-empty {
  display: none;
}


.other-users-name {
}

.placeholderfortweet {
  font-size: 37px;
  bottom: 58px;
  height: 0;
  white-space: pre-wrap;
  padding-left: 100px;
  margin-bottom: 50px;
}

.fa-flag {
  color: rgb(0, 180, 0);
}

.fa-flag:hover {
  color:rgb(0, 58, 0)
}

.fa-heart {
  color:rgb(255, 0, 0)
}
.fa-heart:hover{
  color:rgb(85, 0, 0)
}

.fa-retweet {
  color: cyan
}
.fa-retweet:hover{
  color:rgb(0, 92, 92)
}


.header-username{ 
  margin-top: 15px;
  margin-bottom: 10px;
}

.header-profile-status {
  margin-top: 15px;
  margin-bottom: 20px;
  padding-left: 10px;
}

.picture {
  border-radius: 250px;
}

.picture2 {
  position: relative;
  left: 3em;
  top: 1em;
  width: 100px;
  border-radius: 10px;
  
}

.header-container{
  display: flex;
  margin: auto;
  margin-top: 130px;

}

.header {
  margin-left: 0px;
  border-radius: 35px;
  margin-top: 23px;
}

@media (min-width:768px) {
  .new-tweet-text {
    width: 500px;
  }
}

@media (min-width:1024px) {
  .new-tweet-text {
    width: 950px;
  }
}


@media (max-width:1880px){
  .header-container{
    flex-direction: column;
  }
  .header{
    width: 100%;
  }

  main.container{
    width: 100%;
    margin: 0;
    padding: 0;
  }

  
}
