.new-tweet {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: .5em;
}

.new-tweet-title {
  margin: 1em 0;
}

.new-tweet-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: .5em;
}

.new-tweet-text {
  outline: none;
  resize: none;
  font-size: 1.15em;
  padding: 1em;
  margin-bottom: 1em;
  border-radius: 30px;
}

.new-tweet-submit {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Bungee', cursive;
}

.new-tweet-submit-button {
  color: #2e3e74;
  border-radius: 25px;
  background: #c9d3cb;
}

.old-tweets-by-users {
  padding-bottom: 0.5em;
  background: #2e3e74;
  border-radius: 30px;

}
.other-users-name {
  position: relative;
  left: -75px;
  top: 10px;

}
.days-since-posted {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: grey;
}

.bottom-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}


.name-and-handle {
  position: relative;
  top: 65px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  left: 50px;
}

.twitter-handle {
  margin-left: 650px;
}

.other-users-name {
}

.placeholderfortweet {
  font-size: 37px;
  position: relative;
  left: 15vw;
  bottom: 31px;
  height: 0;
  white-space: pre-wrap;
}

.fa-flag {
  color: rgb(0, 180, 0);
}

.fa-flag:hover {
  color:rgb(0, 58, 0)
}

.fa-heart {
  color:rgb(255, 0, 0)
}
.fa-heart:hover{
  color:rgb(85, 0, 0)
}

.fa-retweet {
  color: cyan
}
.fa-retweet:hover{
  color:rgb(0, 92, 92)
}


.header-username{ 
  margin-top: 15px;
  margin-bottom: 10px;
}

.header-profile-status {
  margin-top: 15px;
  margin-bottom: 20px;
}

.picture2 {
  position: relative;
  left: 5em;
  top: 2em;
  
}